body{
  background-color: rgb(247, 225, 198);   
}
header{
    background-color:rgb(247, 229, 158);
}
nav{
    background-color: rgb(184, 6, 6);
}
#intro{
    background-color: rgb(159, 63, 8);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
